# Dependencies
/node_modules
/server/node_modules
/server/dist
/server/data/*.sqlite

# Angular build output / cache
/dist
/.angular

# IDE
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
.idea/

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
